In [1]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [2]:
bio_data = {'Name': 'Bob Marley', 'Age':35, 'Height':"5.6 ft", 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [11]:
credentials = { 'UserA' : 'wkliopnc' , 'UserB': 98760 , 'UserC' :98760 }

In [12]:
hobby = bio_data['Hobby']
print(hobby)

Music

In [13]:
age = bio_data['Age']
print(age)

35

In [14]:
age = bio_data.get('Age')
print(age)

35

In [17]:
profession  =  bio_data.get('ASA','NA')
print(profession)

NA

In [ ]:
bio_data['Age'] = 36
print(bio_data)

In [22]:
#add a key, val
bio_data['Profession'] = 'Singer'
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer'}

In [23]:
print('Profession' in bio_data)

True

In [28]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

['Name', 'Age', 'Height', 'Hobby', 'Profession']
['Bob Marley', 35, '5.6 ft', 'Music', 'Singer']

In [29]:
new_dictionary = dict(Country='Jamaica', Songs=['One Love','Misty Morning'])

In [30]:
bio_data.update(new_dictionary)
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [31]:
del bio_data['Songs']
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica'}

In [32]:
students_data = { 1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [33]:
print(len(students_data))

5

In [34]:
#see all the details of students. 
print(list(students_data.values()))

[['Shivam Bansal', 24], ['Udit Bansal', 25], ['Sonam Gupta', 26], ['Saif Ansari', 24], ['Huzefa Calcuttawala', 27]]

In [35]:
students_data[6] = ['Manasi Sharma', 22]
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [36]:
del students_data[2]
print(students_data)

{1: ['Shivam Bansal', 24], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [37]:
print(list(students_data.keys()))

[1, 3, 4, 5, 6]

In [20]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
print(input_dict)
vass=input_dict.get('Label','NA')
print (vass)

{'Name': 'Monty', 'Profession': 'Singer'}
NA

In [38]:
inputVal={'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}
print(inputVal.get('Tim Cook'))

Apple

In [48]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

sorted(input_dict.values())

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [54]:
d = dict(a=1, b=2)
d
print(type(d))

<class 'dict'>

In [55]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']