In [1]:
squares_list= []
for x in range(1,10):
    squares_list.append(x**2)
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
squares_list = [x**2 for x in range(1,10)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]

In [ ]:
# ['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [8]:
single_word_list =[]

for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [9]:
single_word_list  = [word for sentence in paragraph for word in sentence.split()]
print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [14]:
#list comp with if statement
vowels = ['a','e','i','o','u']
vowels_from_sentence =[]
for sentence in paragraph:
    for word in sentence.split():
        if word[0].lower() in vowels:
            vowels_from_sentence.append(word)

print(vowels_from_sentence)

['a', 'It', 'in', 'It']

In [23]:
asd= [out for sentence in paragraph for out in sentence.split() if out[0].lower() in vowels ]
print(asd)

['a', 'It', 'in', 'It']

In [24]:
#[ for sentence in paragraph]
#[ for sentence in paragraph for word in sentence.split()]

In [25]:
vowels_comp = [word for sentence in paragraph for word in sentence.split() if word[0].lower() in vowels]
print(vowels_comp)

['a', 'It', 'in', 'It']

In [1]:
squared_dictionary = {num : num**2 for num in range(0, 25)}
print(squared_dictionary)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576}

In [3]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [6]:
names_dict ={}

#iterate over each key, val pair
for roll_num,details in students_data.items():
    if roll_num%2==0:
        names_dict[roll_num]= details[0]
print(names_dict)

{2: 'Udit Bansal', 4: 'Saif Ansari'}

In [42]:
asaa={}
data={1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}
for num,det in data.items():
    if num%2==0:
        asaa[num]=det[0]
print(asaa)
#(or)
{num:det[0] for num,det in data.items() if num%2==0 }

{2: 'Udit Bansal', 4: 'Saif Ansari'}

{2: 'Udit Bansal', 4: 'Saif Ansari'}

In [7]:
names_comp = {roll_num:details[0] for roll_num,details in students_data.items() if roll_num%2==0}
print(names_comp)

{2: 'Udit Bansal', 4: 'Saif Ansari'}

In [8]:
n =int(input())
[x**2 for x in range(1,n+1)]

4

[1, 4, 9, 16]

In [61]:
listVal=['wood','old','apple','big','item','euphoria']
for vv in listVal:
    if vv[0] in ['a','e','i','o','u']:
        print(vv)
        
#or
asd= [put for sentence in listVal for put in sentence.split() if put[0] in vowels   ]
print(asd)

old
apple
item
euphoria
['old', 'apple', 'item', 'euphoria']

In [66]:
product_list = []
for i in range(10):
    for j in range(10,20):
        product_list.append(i*j)

#(OR)
print(product_list)
vv=[i*j for i in range(10) for j in range(10,20)]
print(vv)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171]

In [16]:
listap=[]
listap=[out*j for out in range(1,4) for j in range(1,11)]
print(listap)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [23]:
dic={}
val=int(input())
for i in range(1,val+1):
    dic[i]=i**2
print(dic)

#(OR)
dic1={}
val=int(input())
dic1 = {cc:cc**2 for cc in range(1,val+1)}
print(dic1)

9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [24]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [25]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [39]:
a_list = [1, 4, 9, 0, 4]

In [36]:
#operator is the pre defined function imported
import operator
#add function will return addition of two numbers
operator.add(1,2)

3

In [37]:
#def is the function delcartion and x is the parameter passing to the function, this function return x+1 result
def plus_One(x):
    return x+1

In [38]:
plus_One(4)

5

In [40]:
a_list

[1, 4, 9, 0, 4]

In [42]:
#map is the predefined function no need to import, here we are calling function plus_One by passing the list of values
#as a pramenters one by one and printing the result in to list

list(map(plus_One,a_list))

[2, 5, 10, 1, 5]

In [51]:
# reduce is the predefined fucntion, need to import. Using this we can able to do arthimetic opertions for the lists:
from  functools import reduce
l1=[1,5,3]
add = reduce(operator.add,l1)
print("Addition:",add)
mul= reduce(operator.mul,l1)
print("Multiplication: ", mul)
sub = reduce(operator.sub,l1)
print("Sub: ", sub)

Addition: 9
Multiplication:  15
Sub:  -7

In [52]:
operator.add(1,3)

4

In [55]:
#filters are used to loop the list 
def greater_than(x):
    return x>5

greater_than(2)
l3=[1,2,3,4,5,6,7]
list(filter(greater_than,l3))

[6, 7]

In [65]:
#lambda expersions are alnerate way of creating the function. using lambda we can return the expressions
expvalue =  lambda x: (x+1)/2
expvalue(2)

1.5

In [63]:
l3=[1,2,3,4,5,6,7]
list(map(expvalue,l3))

[1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0]

In [69]:
list(map(lambda e: e**2, l3))

[1, 4, 9, 16, 25, 36, 49]

In [71]:
list(map(lambda e: e**2, filter(lambda e: type(e) == types.IntType, l3)))

NameError: name 'types' is not defined