In [1]:
first_list = [2, 4, 5]
print(first_list**2)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [2]:
first_list = [2, 4, 5]

In [3]:
print(map(lambda x: x**2, first_list))

<map object at 0x0000014E0F0B5D88>

In [5]:
first_list = [2,4,5]
print(list(map(lambda x: x**3, first_list)))

[8, 64, 125]

In [6]:
def squareit(n):
    return n**2
print(list(map(squareit, first_list)))

[4, 16, 25]

In [52]:
sums_list = [3,5,9,7]
sums_list2 = (4,5,6,7)
print(list(map(lambda x,y : x+y, sums_list,sums_list2)))

[7, 10, 15, 14]

In [53]:
list_of_names = ['nikola', 'james', 'albert']
list_of_names2 = ['tesla','watt','einstein']
proper = lambda x, y: x[0].upper()+x[1:] +' '+ y[0].upper()+y[1:]
print(list(map(proper, list_of_names,list_of_names2)))

['Nikola Tesla', 'James Watt', 'Albert Einstein']

In [58]:
#Filter
divby3 = lambda x:  x % 3 == 0
my_list = [3,4,5,6,7,8,9]
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [72]:
#Reduce
from functools import reduce
q  = reduce(lambda x, y: x+y, range(1,4))
print(q)

6

In [73]:
list_of_nums = [22,45,32,20,87,94,30]
print(reduce(lambda x,y: x if x>y else y,list_of_nums))

94

In [51]:
input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']

print(sum(map(lambda x: x[0]=='S', input_list)))

3

In [57]:
input_list = [ ['Ankur','Avik','Kiran','Nitin'],['Narang','Sarkar','R','Sareen']]
first_name = input_list[0]
last_name = input_list[1]
 
lam= lambda x,y : x[0].upper()+x[1:] +" "+ y[0].upper()+y[1:]
print(list(map(lam,first_name,last_name)))

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [71]:
input_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
lamm= lambda x: x%5==0
print(list(filter(lamm,input_list)))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [80]:
input_list = ['soap','sharp','shy','silent','ship','summer','sheep']
lam= lambda x : x[0] == 's' and x[-1]=='p'
print(list(filter(lam,input_list)))

['soap', 'sharp', 'ship', 'sheep']

In [94]:
from functools import reduce
input_list=['All','you','have','to','fear','is','fear','itself']
print(reduce(lambda x, y: x+" "+y, input_list))
q  = reduce(lambda x, y: x+" "+y, input_list)
print(q)

All you have to fear is fear itself
All you have to fear is fear itself

In [99]:
((500//7)%5)**3

1

In [103]:
S = "I love Python"
S[-11:-8]

'lov'

In [104]:
[1, 2, 3]*2

[1, 2, 3, 1, 2, 3]

In [105]:
L=[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]
L[2:]

[[7, 8, 9, 10]]

In [106]:
T = (3, 5, 7, 11)
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [109]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [111]:
single_word_list=[]
paragraph ="Prasanth Kumar Reddy CV"
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

print(single_word_list)

['P', 'r', 'a', 's', 'a', 'n', 't', 'h', 'K', 'u', 'm', 'a', 'r', 'R', 'e', 'd', 'd', 'y', 'C', 'V']

In [113]:
print([word for sentence in paragraph for word in sentence.split()])

['P', 'r', 'a', 's', 'a', 'n', 't', 'h', 'K', 'u', 'm', 'a', 'r', 'R', 'e', 'd', 'd', 'y', 'C', 'V']

In [125]:
n=int(input())
 
print(1 if n == 0 else reduce( lambda x,y:x*y,range(1,n+1)))

3
6

In [126]:
input_list =[[2, 5, 9, 12, 13, 15, 16, 17, 18, 19], [2, 4, 5, 6, 7, 9, 13, 16], [1, 2, 5, 9, 10, 11, 12, 13, 15]]
C=input_list[0]
F=input_list[1]
H=input_list[2]
print(C, F, H)

[2, 5, 9, 12, 13, 15, 16, 17, 18, 19] [2, 4, 5, 6, 7, 9, 13, 16] [1, 2, 5, 9, 10, 11, 12, 13, 15]

In [135]:
print([i for i in C if i in F and i in H])
print([i for i in C if i in F and i not in H])
print([i for i in range(1, 21) if (i in C and i in F and i not in H) or (i in F and i in H and i not in C) or (i in C and i in H and i not in F)])
print([i for i in range(1, 21) if i not in C and i not in F and i not in H])

[2, 5, 9, 13]
[16]
[12, 15, 16]
[3, 8, 14, 20]

In [143]:
input_list =[[2, 5, 9, 12, 13, 15, 16, 17, 18, 19], [2, 4, 5, 6, 7, 9, 13, 16], [1, 2, 5, 9, 10, 11, 12, 13, 15]]
C=input_list[0]
F=input_list[1]
H=input_list[2]
print(C, F, H)
C = set(input_list[0])
F = set(input_list[1])
H = set(input_list[2])
print(sorted(list(C & F & H)))
print(sorted(list((C & F) - (C & F & H))))
print(sorted(list(((C & F) | (F & H) | (C & H)) - (C & F & H))))
print(sorted(list(set(range(1,21)) - (C | F | H))))

[2, 5, 9, 12, 13, 15, 16, 17, 18, 19] [2, 4, 5, 6, 7, 9, 13, 16] [1, 2, 5, 9, 10, 11, 12, 13, 15]
[2, 5, 9, 13]
[16]
[12, 15, 16]
[3, 8, 14, 20]